<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Gerenciamento de Granja</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <main class="caixa-login">
        <form action="#"> <h1>Acesso ao Sistema</h1>
            <p>Bem-vindo ao painel de gerenciamento da granja UTFPR-TD</p>
            
            <div class="grupo-formulario">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Digite seu email" required>
            </div>
            
            <div class="grupo-formulario">
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
            </div>
            
            <button type="submit">Entrar</button>

            <div class="links-adicionais">
                <a href="#">Esqueceu sua senha?</a>
            </div>
        </form>
    </main>

</body>
</html>