<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Gerenciamento de Granja</title>
    
    <link rel="stylesheet" href="css/global/global.css">
    
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <main class="caixa-login">
        <form id="formulario-login">
            <h1>Acesso ao Sistema</h1>
            <p>Bem-vindo ao painel de gerenciamento da sua granja.</p>
            
            <div class="grupo-formulario">
                <label for="id-granja">ID ou Nome da Granja</label>
                <input type="text" id="id-granja" name="id-granja" placeholder="Digite seu ID" required>
            </div>
            
            <div class="grupo-formulario">
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
            </div>
            
            <button type="submit" id="botao-login" class="btn btn-primary">Entrar</button> 
            
        </form>
    </main>

    <script src="js/login.js"></script>

</body>
</html>